h1 {
    text-align: center;
}

a {
    color: #8C43FF; 
}

#introTxt {
    color: #8C43FF;
    padding: 2%;
    margin-top: 70px;
}

#headshotIMG {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutMe {
    padding: 1%;
    margin-top: 2%;
    padding-bottom: 2%;
    background-color: #8C43FF;
}

.aboutMeText {
    color: #fff;
    padding-top: 2%;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#resumeID {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.projectsClass {
    background-color: #fff;
    padding: 2%;
}

#projectsText {
    color: #8C43FF;
    padding: 4%;
}

#emailID {
    text-align: center;
}

#phoneID {
    text-align: center;
    color: #0061ff;
}

#linkedInID {
    text-align: center;
  
}

#githubID {
    text-align: center;
    
}

.fa, .fab, .far {
    font-size: 100px;
    color: #8C43FF;

}

.footer {
    background-color: #8C43FF;
    height: 30px;
    margin: 0;
}

.card {
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

#footerTxt {
    color: #fff;   
    padding-top: 10px;
    padding-left: 10px; 
    margin-bottom: 0;  
}

#contactMeID {
    padding: 4%;
    
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1;
}

#resumeBtn {
    height: 50px;
    width: 100px;
    
    
}

#resumeIDscroll {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.card-img-top {
    height: 150px;
}

.card-body {
    height: 250px;
}

.lineID {
    height: 2px;
    width: 90%;
    margin: auto;
    background-color: #8C43FF;
}

#contactMeh1ID {
    color: #8C43FF;
}

#phoneNumID {
    color: #8C43FF;
}

#resumeBtn {
    border-color: #8C43FF !important;
    color: #8C43FF;
}


